<div platform>

    <!-- This is our Header, with the web apps drop down -->
    <header >
        <div>
                <img src="./assets/icons/MGLogo.jpeg" style="display: inline-block;vertical-align: top; margin-right:20px" height="132"/>
                <span style="display:inline-block;padding-left:40px ">
                    <label class="fieldPromptBold" style="font-size:32pt;">Welcome {{currentUser}}</label>
                    <br/>
                   <nav>
                        <a [routerLink]="['/userRating']">Ratings</a>
                        <a [routerLink]="['/userRecommendations']">Recommendations</a>
                        <a [routerLink]="['/features']">Features</a>
                        <a [routerLink]="['/profiles']">Profiles</a>
                        <a [routerLink]="['/genomeMap']">Genome Map</a>
                        <span style="margin-right:10px;">&nbsp;</span>
                        <a [routerLink]="['/login']">Logout</a>
                    </nav>
                </span>
 
        </div>

    </header>
 
  <router-outlet></router-outlet>

</div>